@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'), url('Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* @font-face {
    font-family: 'Inter';
    src: local('Inter Italic'), local('Inter-Italic'), url('interitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
} */
@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'), url('Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* @font-face {
    font-family: 'Inter';
    src: local('Inter Medium Italic'), local('Inter-MediumItalic'), url('intermediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
} */
@font-face {
    font-family: 'Inter';
    src: local('Inter SemiBold'), local('Inter-SemiBold'), url('Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* @font-face {
    font-family: 'Inter';
    src: local('Inter SemiBold Italic'), local('Inter-SemiBoldItalic'), url('intersemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
} */
@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'), url('Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* @font-face {
    font-family: 'Inter';
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'), url('interbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
} */
@font-face {
    font-family: 'Inter';
    src: local('Inter ExtraBold'), local('Inter-ExtraBold'), url('Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
/* @font-face {
    font-family: 'Inter';
    src: local('Inter ExtraBold Italic'), local('Inter-ExtraBoldItalic'), url('interextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
} */
@font-face {
    font-family: 'Inter';
    src: local('Inter Black'), local('Inter-Black'), url('Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/* @font-face {
    font-family: 'Inter';
    src: local('Inter Black Italic'), local('Inter-BlackItalic'), url('interblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
 */