@import "./reboot.css";

@import "./margins_paddings.css";
@import "./loaders.css";
@import "./notifications.css";
@import "./width-utilities.css";
@import "@assets/fonts/Inter/inter.css";

:root {
  --white: #fff !important;

  --black: #2a2c38 !important;

  --gray: #70717a !important; /* дефолтные стили bootstrap имеют свой взгляд на css vars*/
  --gray1: #ebeef3 !important;
  --gray2: #c4c4c4 !important;
  --gray3: #f7f8fa !important;

  --green: #199f84 !important;

  --yellow: #ffdc62 !important;

  --red: #eb5757 !important;

  --purple: #7770c0 !important;

  --link: rgb(0, 68, 225) !important;
  --link-visited: darkblue !important;

  --padding-1: 10px !important;
  --padding-2: 20px !important;
  --padding-3: 30px !important;
  --padding-4: 40px !important;
  --padding-5: 50px !important;

  --margin-1: 10px !important;
  --margin-2: 20px !important;
  --margin-3: 30px !important;
  --margin-4: 40px !important;
  --margin-5: 50px !important;
}

* {
  transition: all 0.15s ease-out;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  line-height: 1.33;
  user-select: none;
}

label {
  margin-bottom: 0 !important;
}

.img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.embed {
  height: 100%;
}

.hover-pointer:hover {
  cursor: pointer;
}

.link {
  color: var(--link);
}

.link:hover {
  cursor: pointer;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.btn:focus {
  outline: none;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4) !important;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}

[disabled] {
  pointer-events: none !important;
  background: var(--red) !important;
  color: var(--white) !important;
  /* opacity: 0.65 !important; */
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: 0px;
}

.z-hidden {
  z-index: -1;
  position: absolute; /* Чтобы поток документа игнорировал элемент, а не только скрывал */
  top: 0;
  left: 0;
}

.dropdown-menu {
  max-height: 80vh;
  overflow: auto;
}

/* common helpers */

/* color helpers */
.border-green {
  border: 5px solid var(--green);
}

.border-red {
  border: 5px solid var(--red);
}

.border-yellow {
  border: 5px solid var(--yellow);
}

.border-purple {
  border: 5px solid var(--purple);
}

.border-gray {
  border: 5px solid var(--gray);
}

.border-gray1 {
  border: 5px solid var(--gray1);
}

.border-gray2 {
  border: 5px solid var(--gray2);
}

.border-gray3 {
  border: 5px solid var(--gray3);
}

.border-black {
  border: 5px solid var(--black);
}

.border-white {
  border: 5px solid var(--white);
}

.color-green {
  color: var(--green);
}

.color-red {
  color: var(--red);
}

.color-yellow {
  color: var(--yellow);
}

.color-purple {
  color: var(--purple);
}

.color-gray {
  color: var(--gray);
}

.color-gray1 {
  color: var(--gray1);
}

.color-gray2 {
  color: var(--gray2);
}

.color-gray3 {
  color: var(--gray3);
}

.color-black {
  color: var(--black);
}

.color-white {
  color: var(--white);
}

.bg-green {
  background: var(--green);
}

.bg-red {
  background: var(--red);
}

.bg-yellow {
  background: var(--yellow);
}

.bg-purple {
  background: var(--purple);
}

.bg-gray {
  background: var(--gray);
}

.bg-gray1 {
  background: var(--gray1);
}

.bg-gray2 {
  background: var(--gray2);
}

.bg-gray3 {
  background: var(--gray3);
}

.bg-black {
  background: var(--black);
}

.bg-white {
  background: var(--white);
}
/* endof color helpers */

/* text helpers */
.weight-700 {
  font-weight: 700;
}

.weight-600 {
  font-weight: 600;
}

.weight-500 {
  font-weight: 500;
}

.weight-400 {
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-20 {
  font-size: 20px;
}

.size-24 {
  font-size: 24px;
}

.size-30 {
  font-size: 30px;
}

.size-36 {
  font-size: 36px;
}

.size-48 {
  font-size: 48px;
}
/* endof text helpers */

/* display helpers */
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.appearance-none {
  appearance: none;
}

.no-number-arrows::-webkit-outer-spin-button,
.no-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.align-items-between {
  align-items: space-between;
}

.align-items-end {
  align-items: flex-end;
}

.all-center {
  justify-content: center;
  align-items: center;
}

.overflow-y-auto {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.overflow-x-auto {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.overflow-auto {
  overflow: auto;
  scroll-behavior: smooth;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

/* endof display helpers */

/* border helpers */
.border-width-0 {
  border-width: 0px;
}

.border-width-1 {
  border-width: 1px;
}

.border-width-2 {
  border-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-width-4 {
  border-width: 4px;
}

.border-width-5 {
  border-width: 5px;
}

.border-width-6 {
  border-width: 6px;
}

.border-width-7 {
  border-width: 7px;
}

.border-width-8 {
  border-width: 8px;
}

/* endof border helpers */

/* endof common helpers */

/* right-menu */

.right-menu-item.selected {
  background: var(--green);
  color: var(--white)
}
/* endof right-menu */

/* other */
.border-dashed {
  border-style: dashed;
}

.container-fullhd {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.content-item {
}

.content-item.selected {
  border: 2px solid var(--green);
  box-shadow: 0px 8px 20px rgba(25, 159, 132, 0.25);
}

.content-item.selected .green-on-select {
  color: var(--green);
}

.focus-block .not-focus {
  display: inline-flex;
}

.focus-block .focus {
  display: none;
}

.focus-block.disabled .not-focus {
  display: none;
}

.focus-block.disabled {
  pointer-events: none;
  background: var(--red);
  color: var(--white);
}

.focus-block .on-disabled {
  display: none;
}

.focus-block:focus-within .not-focus {
  display: none;
}

.focus-block:focus-within .focus {
  display: inline-flex;
}

.focus-block.disabled .on-disabled {
  display: inline-flex;
}

.profile-block-wrapper .UnopdropDown_EMFQP {
  display: flex;
  height: 100%;
}

.profile-block[open] {
  background: var(--white);
  color: var(--black);
}

.tara-type.selected{
  background: var(--gray3);
  border-color: var(--green);
  color: var(--green);
}

/* endof other */
