
.lds-ring {
  display: none;
  position: relative;
  width: 1.5em;
  height: 1.5em;
}

.loading .lds-ring {
  display: inline-block;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  /* margin-left: 1.5em; */
  border: 8px solid var(--purple);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--purple) var(--purple) transparent transparent;
}

.lds-ring.thin div {
  border-width: 4px;
}

.lds-ring.color-white div {
  border-color: var(--white) var(--white) transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
