
.ml--30 {
  margin-left: -30px !important;
}

.mr--30 {
  margin-right: -30px !important;
}

/* paddings */

.pl-1 {
  padding-left: var(--padding-1) !important;
}

.pr-1 {
  padding-right: var(--padding-1) !important;
}

.px-1 {
  padding-left: var(--padding-1) !important;
  padding-right: var(--padding-1) !important;
}

.pt-1 {
  padding-top: var(--padding-1) !important;
}

.pb-1 {
  padding-bottom: var(--padding-1) !important;
}

.py-1 {
  padding-top: var(--padding-1) !important;
  padding-bottom: var(--padding-1) !important;
}

.p-1 {
  padding: var(--padding-1) !important;
}

.pl-2 {
  padding-left: var(--padding-2) !important;
}

.pr-2 {
  padding-right: var(--padding-2) !important;
}

.px-2 {
  padding-left: var(--padding-2) !important;
  padding-right: var(--padding-2) !important;
}

.pt-2 {
  padding-top: var(--padding-2) !important;
}

.pb-2 {
  padding-bottom: var(--padding-2) !important;
}

.py-2 {
  padding-top: var(--padding-2) !important;
  padding-bottom: var(--padding-2) !important;
}

.p-2 {
  padding: var(--padding-2) !important;
}

.pl-3 {
  padding-left: var(--padding-3) !important;
}

.pr-3 {
  padding-right: var(--padding-3) !important;
}

.px-3 {
  padding-left: var(--padding-3) !important;
  padding-right: var(--padding-3) !important;
}

.pt-3 {
  padding-top: var(--padding-3) !important;
}

.pb-3 {
  padding-bottom: var(--padding-3) !important;
}

.py-3 {
  padding-top: var(--padding-3) !important;
  padding-bottom: var(--padding-3) !important;
}

.p-3 {
  padding: var(--padding-3) !important;
}

.pl-4 {
  padding-left: var(--padding-4) !important;
}

.pr-4 {
  padding-right: var(--padding-4) !important;
}

.px-4 {
  padding-left: var(--padding-4) !important;
  padding-right: var(--padding-4) !important;
}

.pt-4 {
  padding-top: var(--padding-4) !important;
}

.pb-4 {
  padding-bottom: var(--padding-4) !important;
}

.py-4 {
  padding-top: var(--padding-4) !important;
  padding-bottom: var(--padding-4) !important;
}

.p-4 {
  padding: var(--padding-4) !important;
}

.pl-5 {
  padding-left: var(--padding-5) !important;
}

.pr-5 {
  padding-right: var(--padding-5) !important;
}

.px-5 {
  padding-left: var(--padding-5) !important;
  padding-right: var(--padding-5) !important;
}

.pt-5 {
  padding-top: var(--padding-5) !important;
}

.pb-5 {
  padding-bottom: var(--padding-5) !important;
}

.py-5 {
  padding-top: var(--padding-5) !important;
  padding-bottom: var(--padding-5) !important;
}

.p-5 {
  padding: var(--padding-5) !important;
}

.p-5 {
  padding: var(--padding-5) !important;
}
/* endof paddings */

/* margins */

.ml-1 {
  margin-left: var(--margin-1) !important;
}

.mr-1 {
  margin-right: var(--margin-1) !important;
}

.mx-1 {
  margin-left: var(--margin-1) !important;
  margin-right: var(--margin-1) !important;
}

.mt-1 {
  margin-top: var(--margin-1) !important;
}

.mb-1 {
  margin-bottom: var(--margin-1) !important;
}

.my-1 {
  margin-top: var(--margin-1) !important;
  margin-bottom: var(--margin-1) !important;
}

.m-1 {
  margin: var(--margin-1) !important;
}

.ml-2 {
  margin-left: var(--margin-2) !important;
}

.mr-2 {
  margin-right: var(--margin-2) !important;
}

.mx-2 {
  margin-left: var(--margin-2) !important;
  margin-right: var(--margin-2) !important;
}

.mt-2 {
  margin-top: var(--margin-2) !important;
}

.mb-2 {
  margin-bottom: var(--margin-2) !important;
}

.my-2 {
  margin-top: var(--margin-2) !important;
  margin-bottom: var(--margin-2) !important;
}

.m-2 {
  margin: var(--margin-2) !important;
}

.ml-3 {
  margin-left: var(--margin-3) !important;
}

.mr-3 {
  margin-right: var(--margin-3) !important;
}

.mx-3 {
  margin-left: var(--margin-3) !important;
  margin-right: var(--margin-3) !important;
}

.mt-3 {
  margin-top: var(--margin-3) !important;
}

.mb-3 {
  margin-bottom: var(--margin-3) !important;
}

.my-3 {
  margin-top: var(--margin-3) !important;
  margin-bottom: var(--margin-3) !important;
}

.m-3 {
  margin: var(--margin-3) !important;
}

.ml-4 {
  margin-left: var(--margin-4) !important;
}

.mr-4 {
  margin-right: var(--margin-4) !important;
}

.mx-4 {
  margin-left: var(--margin-4) !important;
  margin-right: var(--margin-4) !important;
}

.mt-4 {
  margin-top: var(--margin-4) !important;
}

.mb-4 {
  margin-bottom: var(--margin-4) !important;
}

.my-4 {
  margin-top: var(--margin-4) !important;
  margin-bottom: var(--margin-4) !important;
}

.m-4 {
  margin: var(--margin-4) !important;
}

.ml-5 {
  margin-left: var(--margin-5) !important;
}

.mr-5 {
  margin-right: var(--margin-5) !important;
}

.mx-5 {
  margin-left: var(--margin-5) !important;
  margin-right: var(--margin-5) !important;
}

.mt-5 {
  margin-top: var(--margin-5) !important;
}

.mb-5 {
  margin-bottom: var(--margin-5) !important;
}

.my-5 {
  margin-top: var(--margin-5) !important;
  margin-bottom: var(--margin-5) !important;
}

.m-5 {
  margin: var(--margin-5) !important;
}
/* endof margins */
