.Toastify {
  font-size: 24px;
  font-weight: 700;
}

.Toastify__toast-container {
  width: 415px;
}
.Toastify__toast {
  border: 3px dashed #f7f8fa;
}

.Toastify__toast.Toastify__toast--error{
    box-shadow: 0px 4px 30px rgba(235, 75, 77, 0.5)
}

.Toastify__toast.Toastify__toast--success{
    box-shadow: 0px 4px 51px rgba(25, 159, 132, 0.5);
}

/** Used to position the icon **/
.Toastify__toast-icon {
  width: 40px;
  height: 40px;
}
