/* Width utilities */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-66 {
  width: 66.6666666667%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.3333333333%;
}

.w-25 {
  width: 25%;
}

@media screen and (min-width: 900px) {
  .w-xl-100 {
    width: 100%;
  }

  .w-xl-50 {
    width: 50%;
  }

  .w-lg-30 {
    width: 33.3333333333%;
  }

  .w-lg-25 {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .w-xl-100 {
    width: 100%;
  }

  .w-xl-50 {
    width: 50%;
  }

  .w-xl-30 {
    width: 33.3333333333%;
  }

  .w-xl-25 {
    width: 25%;
  }
}

/* endof Width utilities */

/* Height utilities */
.h-maxcontent {
  height: calc(100vh - 100px);
}

.h-100 {
  height: 100%;
}

.h-75 {
  height: 75%;
}

.h-66 {
  height: 66.6666666667%;
}

.h-50 {
  height: 50%;
}

.h-33 {
  height: 33.3333333333%;
}

.h-25 {
  height: 25%;
}

.h-0 {
  height: 0;
}

@media screen and (min-height: 900px) {
  .h-xl-100 {
    height: 100%;
  }

  .h-xl-50 {
    height: 50%;
  }

  .h-lg-30 {
    height: 33.3333333333%;
  }

  .h-lg-25 {
    height: 25%;
  }
}

@media screen and (min-height: 1200px) {
  .h-xl-100 {
    height: 100%;
  }

  .h-xl-50 {
    height: 50%;
  }

  .h-xl-30 {
    height: 33.3333333333%;
  }

  .h-xl-25 {
    height: 25%;
  }
}

/* endof Height utilities */
